.app {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*.mdc-textfield__input {
  width: 100%;
}

.fade-appear {
  margin-top: 30px;
  opacity: .01;
}

.fade-appear.fade-appear-active {
  margin-top: 0px;
  opacity: 1;
  transition: opacity .5s ease, margin .5s ease;
}

.fade-leave {
  margin-top: 0px;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  margin-top: -30px;
  opacity: 0.1;
  transition: opacity .3s ease, margin .5s ease;
}*/
