body {
  margin: 25px;
  padding: 0;
  font-family: sans-serif;
}

.top-menu {
  height: 30px;
  background: rgba(255,255,255,.5);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 10px;
  margin: 10px;
}
.top-menu:after {
  content: "";
  display: table;
  clear: both;
}
.logo {display: inline-block;}

.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

.menu-main li {display: inline-block;}

.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 30px;
  padding: 0px 70px;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: black;
  transition:.3s linear;
  border-right: 1px solid black;
}

.menu-main a:before {
  content: "";
  width: 3px;
  height: 3px;
  background: black;
  position: absolute;
  left: 45%;
  top: 1%;
  transform: rotate(45deg) translateX(7px);
  opacity: 0;
  transition: .3s linear;
}

.menu-main a:hover:before {opacity: 1;}

@media (max-width: 660px) {
.menu-main {
  float: none;
  padding-top: 10px;
}

.top-menu {
  text-align: center;
  padding: 10px 0 0 0;
}

.menu-main a {padding: 0 10px;}

.menu-main a:before {transform: rotate(45deg) translateX(-6px);}
}

@media (max-width: 600px) {
.menu-main li {display: block;}
}

.main-page {
  margin: 40px 80px;
}

.accost {
  height: 300px;
}

.accost img {
  float: left;
  padding-right: 20px;
}

.accost-text {
  height: 260px; /*убрать после текста*/
  padding: 20px;
  margin-left: 320px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: azure;
}

.slides {
  margin: 30px 0px;
  height: 450px;
}

.slides > div {
  font-size: 18px;
  width: 450px;
  margin: 100px 0px 0px 30px;
}

.slides > div > div, button {
  margin: 10px 30px 10px 30px;
  padding: 15px;
  position: relative;
  background-color: grey;
  opacity: 0.8;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a > h3 {
  font-size: 15pt;
  font-weight: bold;
}

.slide_first {
  background-image: url('/images/slide1.png');
}

.slide_second {
  background-image: url('/images/slide2.jpg');
}

.slide_third {
  background-image: url('/images/slide3.jpeg');
}

.slide_fourth {
  background-image: url('/images/slide4.png');
}
/*.Slider-slides > * {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.Slider-slides > * {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.Slider-nav {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.Slider-navButton {
  background: none;
  border: 0;
  height: 20px;
  opacity: 0.5;
  outline: none;
  position: relative;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  width: 20px;
  padding: 0;
}

.Slider-navButton::after {
  background: #345;
  border-radius: 50%;
  content: '';
  display: block;
  height: 6px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 6px;
}

.Slider-navButton--active {
  opacity: 1;
}

.Slider-navButton--active::after {
  height: 12px;
  left: 4px;
  opacity: 1;
  top: 4px;
  width: 12px;
}

.Slider-arrows {
  height: 0;
  left: 0;
  position: absolute;
  top: calc(50% - 35px);
  width: 100%;
  z-index: 1;
}

.Slider-arrows--noNav {
  top: calc(50% - 20px);
}

.Slider-arrow {
  background: none;
  border: none;
  height: 40px;
  opacity: 0.5;
  outline: none;
  position: absolute;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  padding: 0px;
  width: 21px;
}

.Slider-arrow:hover {
  opacity: 1;
}

.Slider-arrow::after, .Slider-arrow::before {
  background: #fff;
  border-radius: 3px;
  content: '';
  display: block;
  height: 23px;
  position: absolute;
  width: 5px;
  left: 8px;
}

.Slider-arrow::before {
  top: 0;
}

.Slider-arrow::after {
  bottom: 0;
}

.Slider-arrow--left {
  top: 0;
  left: 10px;
}

.Slider-arrow--left::before {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.Slider-arrow--left::after {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.Slider-arrow--right {
  top: 0;
  right: 10px;
}

.Slider-arrow--right::before {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.Slider-arrow--right::after {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.ExampleSliders .Slider-slides > div {
  padding: 100px 0;
  font-size: 100px;
  line-height: 100px;
  height: 300px;
  color: #fff;
  text-align: center;
}
.Slider{
  margin: 15px 0 40px;
}*/
